body {
  margin: 0;
  font-family: Segoe UI Light;
  width: 100%;
  background: #379683;
  -webkit-overflow-scrolling: touch;
}

.wrapper {
  float: left;
}

.navi a, .navi a:visited {
  -webkit-transition: all 850ms cubic-bezier(0, 0, 0, 0.23, 1);
  -o-transition: all 850ms cubic-bezier(0, 0, 0, 0.23, 1);
  transition: all 850ms cubic-bezier(0, 0, 0, 0.23, 1);
  text-decoration: none;
  font-size: 2.2rem;
  text-align: center;
  color: #297163;
}

.navi a:hover {
  color: #444;
}

@fontface {
  font-family: Calligraffitti Regular;
  font: url("/asset/font/Calligraffitti-Regular.ttf");
}

.navi label {
  font-family: Calligraffitti Regular;
}

.navi li {
  -webkit-transition: 850ms;
  -o-transition: 850ms;
  transition: 850ms;
  list-style-type: none;
  display: inline-grid;
  padding: 12px 17px;
  margin-left: 1%;
  margin-bottom: -2.1%;
  border-bottom: 4px solid transparent;
}

.navi li:hover {
  border-bottom: 4px solid #444;
}

.navi {
  padding-top: 5%;
  overflow: hidden;
  background: #5cdb95;
  margin-left: -1%;
  margin-top: -4.5%;
  -webkit-box-shadow: 12px 1px 12px;
  box-shadow: 12px 1px 12px;
}

.selection {
  float: left;
  background: #bcfbd9;
  margin-top: 5%;
  margin-left: 5%;
  min-width: 40%;
  width: 50%;
  max-width: 80%;
  padding: 32px 18px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 30px rpga(0, 0, 0, 0.2);
  box-shadow: 1px 1px 30px rpga(0, 0, 0, 0.2);
  margin-bottom: 5%;
}

input[type="checkbox"] {
  display: grid;
  grid-template-columns: repeat(16, 0.2fr);
}

.seatLeft, .seatRight {
  margin-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.seatLeft {
  float: left;
}

.LeftOrRight {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.guilds {
  display: none;
}

#inputFieldBox p {
  font-size: 2.2rem;
  margin: 0;
  padding-right: 0px;
  width: 350px;
  text-indent: 15px;
  margin-top: 2.5%;
}

#inputFieldBox {
  float: right;
  background: #bcfbd9;
  margin-top: 5%;
  margin-right: 2%;
  width: 36%;
  padding: 32px 18px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 30px;
  box-shadow: 1px 1px 30px;
  margin-bottom: 5%;
}

#inputFieldBox input[type="Text"], #inputFieldBox button[type=button], #inputFieldBox input[type="Text"]:disabled, #inputFieldBox button[type="reset"], #inputFieldBox select {
  font-size: 2.2rem;
  border-radius: 15px;
  border-color: transparent;
  background: white;
  text-indent: 10px;
  color: #444;
  margin-right: 0px;
}

#inputFieldBox button[type="button"], #inputFieldBox button[type="reset"], #inputFieldBox select {
  margin-right: 5%;
  margin-top: 5%;
  padding: 10px 45px 10px 45px;
  background-color: #379683;
  color: #bcfbd9;
}

#inputFieldBox select {
  -webkit-transition: .5ms;
  -o-transition: .5ms;
  transition: .5ms;
  width: 90%;
}

#inputFieldBox option {
  background: #297163;
  color: white;
}

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1200px) {
  .selection label {
    font-size: 2.2rem;
    margin-left: -30%;
    margin-top: 45%;
  }
  .selection {
    float: none;
    width: 120%;
    max-width: 140%;
    margin-right: 0%;
  }
  .selection input[type="checkbox"] {
    -webkit-transform: scale(1.2) rotate(90deg);
    -ms-transform: scale(1.2) rotate(90deg);
    transform: scale(1.2) rotate(90deg);
  }
  .leftseat, .rightseat {
    width: 130%;
    height: 120%;
    margin-left: 3%;
  }
  #inputFieldBox {
    float: none;
    margin-left: 5%;
    width: 120%;
  }
  #inputFieldBox p, #inputFieldBox input, #inputFieldBox button {
    font-size: 2.9rem;
    width: 100%;
  }
  #inputFieldBox input, #inputFieldBox button {
    height: 80px;
    width: 100%;
  }
  img {
    opacity: none;
    display: none;
  }
  #LeftOrRight label {
    font-size: 1.5rem;
    margin-left: 1%;
  }
  #LeftOrRight {
    width: 170%;
  }
  #LeftOrRight input[type=checkbox] {
    display: inline-block;
    width: 60px;
    height: 65px;
  }
  #buttons {
    grid-gap: 1em;
  }
}

@media (max-width: 700px) {
  .selection {
    width: 130%;
  }
  #inputFieldBox {
    width: 130%;
  }
  #inputFieldBox select {
    width: 100%;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .selection input[type=checkbox] {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background-color: transparent;
    background: url("asset/image/seatO.svg") 0 0px no-repeat;
  }
  .selection {
    width: 20%;
  }
  .selection img {
    margin-left: -10%;
    margin-top: 1%;
  }
  .leftseat label, .rightseat label {
    margin-top: 8%;
  }
  #LeftOrRight input[type=checkbox] {
    width: 40px;
    height: 40px;
  }
}
