$maincolor: #5cdb95;
$mainNavFontColor: #297163;
// $mainNavFontHoverColor: #363839;
$mainNavFontHoverColor: #444;
$backgroundColor: #379683;
$boxColor: #bcfbd9;
$mainFontLight: #9acdc3;


body {
  margin: 0;
  font-family: Segoe UI Light;
  width:100%;
  background: $backgroundColor;
  -webkit-overflow-scrolling: touch;

}
.wrapper {
  float: left;
  // display: inline-block;
}

@import "partialCode/_navigation.scss";
@import "partialCode/_seats.scss";
@import "partialCode/_inputField.scss";


@media (max-width: 1200px) {

  .selection label{
    font-size: 2.2rem;
    margin-left: -30%;
    margin-top: 45%;
  }
  .selection {
    float:none;
    width: 120%;
    max-width: 140%;
    margin-right: 0%;
  }

  .selection input[type="checkbox"] {
      // height: 120px;
      // width: 130px;
      transform: scale(1.2) rotate(90deg);


  }

.leftseat, .rightseat {
  width: 130%;
  height: 120%;
  margin-left: 3%;
}


  #inputFieldBox {
    float: none;
    margin-left: 5%;
    width: 120%;

  }
  #inputFieldBox p, #inputFieldBox input, #inputFieldBox button{
    font-size: 2.9rem;
    width: 100%;
  }

  #inputFieldBox input, #inputFieldBox button{
    height: 80px;
    width: 100%;
  }

  img {
    opacity: none;
    display: none;
  }


  #LeftOrRight label {
    font-size: 1.5rem;
    margin-left: 1%;
  }

#LeftOrRight {
  width: 170%;
}
  #LeftOrRight input[type=checkbox] {

    display: inline-block;
    width: 60px;
    height:65px;
  }
  #buttons {grid-gap: 1em;}
}



@media (max-width: 700px) {
//   body {
//     width: 700px;
//   }
  .selection {
    width: 130%;
  }

  #inputFieldBox {
    width: 130%;
  }
  #inputFieldBox select {
    width: 100%;
  }



// #LeftOrRight > input[type=checkbox]{
//   height: 35px;
//   width: 35px;
// }
//
// #LeftOrRight label {
//   margin-left: 0;
// }
//
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .selection input[type=checkbox]{

    transform: rotate(0deg);
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background-color: transparent;
    background:  url('asset/image/seatO.svg') 0 0px no-repeat;
  }
  .selection {
    width: 20%;
  }

  .selection img{
    margin-left: -10%;
    margin-top: 1%;

  }

  .leftseat label ,.rightseat label{
    margin-top: 8%;
    //margin-top: 6%; for IE 11

  }

  #LeftOrRight input[type=checkbox] {

    width: 40px;
    height: 40px;
  }

}
