#inputFieldBox p{
    font-size: 2.2rem;
    margin: 0;
    padding-right: 0px;
    width: 350px;
    text-indent: 15px;
    margin-top: 2.5%;
}

#inputFieldBox {
  float: right;
  background: $boxColor;
  margin-top: 5%;
  margin-right: 2%;
  width: 36%;
  padding: 32px 18px;
  border-radius: 15px;
  box-shadow: 1px 1px 30px;
  margin-bottom: 5%;
}

#inputFieldBox input[type="Text"], #inputFieldBox button[type=button], #inputFieldBox input[type="Text"]:disabled,  #inputFieldBox button[type="reset"], #inputFieldBox select{
  font-size: 2.2rem;
  border-radius: 15px;
  border-color: transparent;
  background: white;
  text-indent: 10px;
  color: $mainNavFontHoverColor;
  margin-right: 0px;
}

#inputFieldBox button[type="button"], #inputFieldBox button[type="reset"], #inputFieldBox select{
  margin-right: 5%;
  margin-top: 5%;
  padding: 10px 45px 10px 45px;
  background-color: $backgroundColor;
  color: $boxColor;
}

#inputFieldBox select {
  transition: .5ms;
  width: 90%;
}


#inputFieldBox option {
  background: $mainNavFontColor;
  color: white;
}



#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
