
.navi a , .navi a:visited {
  transition: all 850ms cubic-bezier(0.000,0.000,0,.230,1);
  text-decoration: none;
  font-size: 2.2rem;
  text-align: center;
  color: $mainNavFontColor;
}

.navi a:hover  {
  color: $mainNavFontHoverColor;

}

@fontface {
  font-family: Calligraffitti Regular;
  font: url("/asset/font/Calligraffitti-Regular.ttf");
}

.navi label {
 font-family: Calligraffitti Regular;
}


.navi li {
  transition: 850ms;
  list-style-type: none;
  display: inline-grid;
  padding: 12px 17px;
  margin-left: 1%;
  margin-bottom: -2.1%;
  border-bottom: 4px solid transparent;
}
.navi li:hover {
    border-bottom: 4px solid $mainNavFontHoverColor;
}

.navi {
  // float: left;
  padding-top: 5%;
  // position: sticky;
  overflow: hidden;
  background: $maincolor;
  // width: 101.5%;
  margin-left: -1%;
  margin-top: -4.5%;
  box-shadow: 12px 1px 12px; }
