.selection {
  float: left;
  background: $boxColor;
  margin-top: 5%;
  margin-left: 5%;
  min-width: 40%;
  width: 50%;
  max-width: 80%;
  padding: 32px 18px;
  border-radius: 15px;
  box-shadow: 1px 1px 30px rpga(0,0,0,0.2);
  margin-bottom: 5%;
}

input[type="checkbox"]{
  display: grid;
  grid-template-columns: repeat(16,.2fr)
}

.seatLeft, .seatRight {
  margin-top:  15%;
  display: flex;
}

.seatLeft {
  float: left;
}

.LeftOrRight {
  transform: rotate(90deg);
}

.guilds {
  display: none;
}
